header{
    background-color: black;
}
.img_header{
    width: 320px;
    height: 100px;
}
.a_header{
    color: white;
    padding: 30px;
}
/** section**/
section{
    height: 100px;
    background-color: rgb(97, 223, 240);
    padding: 10px;
}
/**footer**/
.flexx{
    display: flex;
    height: 300px;
}
.modif_iframe iframe{
    width: 40%;
    height: 500px;
    background-color: red;
}
.footer_left{
    text-align-last: center;
    background-color: black;
    height: auto;
}
.footer_p{
    display: flex;
}
.espace_p{
    background-color: white;
    margin: 30px;
    text-size-adjust: 2px;
}
.sociaux img{
    width: 30px;
    height: 30px;
    background-color: white;
    border: solid 1px white;
    border-radius: 50%;
}

